  /*
            Primeira Parte --- NAV
            */
            body{
                margin: 0;
                font-family: sans-serif
            }
            .container-left{
                display:flex;
                text-align: center;
                align-content: center;
                justify-content:space-around;  
                font-size: 16px; 
            }
            .container-right{
                display:flex;
                text-align: center;
                align-content: center;
                justify-content:space-around; 
                width: 25%;
                font-weight: bold;
                align-items: center;
                font-size: 16px;
            }
            .blue {
                color:blue
            }
            .red {
                color:red
            }
            .green {
                color:green
            }
            .orange {
                color:orange
            }
            .dark-red {
                color:darkred
            }
            .dark-orange {
                color:darkorange
            }
            .black {
                color:black
            }
            .gray {
                color: gray;
            }
            /*
            criar classe e atribuir comportamentos para classe
            CLASSE TEM IMPORTANCIA MAIOR que TAG
            */

            .item{
                padding: 10px;
                border-bottom: 3px solid transparent;
            }
            .container-left div.item:hover {
                border-color: unset;
                cursor: pointer;
            }
            
            .base-container{display: flex;justify-content: space-between;font-size: 20px;}

            .container-right div:hover{
                color: rgb(71, 138, 237);
                cursor: pointer;
            }

            .assine{
                padding-left: 7px;
                padding-right: 20px;
            }

            /*
            Segunda Parte
            */
            .box {
                display: flex;
                background-color: rgb(77, 201, 77);
                color: white;
                text-align: center;
                align-items: center;
                height: 60px;
            }
            .box-right {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 20%;
            }
            .shield{

                padding-right: 10px;
            }
            .brasileirao-txt {
                width: 70%;
                font-weight: bold;
                font-size: 30px;
            }
            .menu-nav{
                display: flex;
                font-size: 16px;
                align-items: center;
            }
            .barra-buscar {
                display: flex;
                width: 30%;
                justify-content: space-around;
            }
            .barra-buscar input{
                background-color: transparent;
                border: none;
                height: 15px;
            }
            .barra-buscar input[type=search]::placeholder{
                color: white;
                font-family: sans-serif;
            }
            .barra-buscar input[type=search]:focus-visible{
                outline: none;
            }
            .barra-buscar form {
                background-color: green;
                width: 200px;
                height: 20px;
                border-radius: 5px;
                padding: 5px;
                display: flex;
                align-content: center;
                align-items: center;
            }
        

            /* search bar        */
            .search-input:focus-visible{
                color: gray;
            }
            
            .search-input:focus-visible::placeholder{
                color: grey;
            }
            
            .search-input{
                width: 100%;
                background-color: transparent;
                outline: none;
                border: none;
            }
            .search-input::placeholder{
                color: white;
                font-weight: bold;
            }
            /* search bar */

            .list-headers{
                display: flex;
                background-color: rgb(77, 201, 77) ;
                
                font-size: 20px;
                height: 40px;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                
            }
            .list-headers div{
                padding-left: 7px;
                padding-right: 7px;
            }
            .item-list-header{
                color: white;
                opacity: 0.8;
            }
            .list-headers div:hover{
                opacity: 1;
                border-bottom: 3px;
            }

            .info-box{
                display: flex;
                width: 90%;
                margin: auto;
            }
            
            .table-box{
                width: 55%;
                
                padding-right: 45px;
                margin-right: auto;
                overflow-x: auto;
                
            }

            .line{
                height: auto;
                border-left: 1px solid black;
                padding-left: 7px;
                padding-right: 7px;
            }
            .overflow{
                
                width: 750px;
            }
            .table{
                border-spacing: 0px;
            }
            .table thead tr th{
                
                height: 40px;
                border-bottom: 1px rgb(66, 66, 66) solid;
                border-top: 1px lightgray solid;
                font-weight: 100;
            }
            .table tbody tr td{
                border-bottom: 1px lightgray solid;
            }
            .teams{
                text-align: left;
                border-right: 1px #424242 solid;
            }
            .table tbody tr td:nth-child(odd):not(:first-child){
                background-color: #cbcbcb97;
            }

            .divider{
                height: 24px;
                border-right:1px dotted white
                
            }
            .ge-text{
                font-weight: bold;
                font-size: 20px;

            }

            .stadium-name{
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .defeat{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                display: inline-block;
                background-color: red;
                margin-left: 2px;
                margin-right: 2px;
            }
            .victory{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                display: inline-block;
                background-color: green;
                margin-left: 2px;
                margin-right: 2px;
            }
            .draw{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                display: inline-block;
                background-color: gray;
                margin-left: 2px;
                margin-right: 2px;
            }
            
            .ranking{
                font-weight: bold;
                color: aqua;
            }

            .games{
                width: 35%;

            }
            .round-selection-bar-arrow{
                width: 24px;
                height: 30px;
            }
            .round-selection-bar{
                display: flex;
                font-size: 24px;
                font-weight: bold;
                justify-content: space-around;
                padding-bottom: 4px;
                padding-top: 4px;
                border-top:1px solid lightgray;
                border-bottom:1px solid lightgray;
            }
            .text-center{
                text-align: center;
                height: 50px;
            }
            .game{
                display: flex;
                flex-direction: column;
                margin-top: 5px;
                border-bottom:1px solid lightgray;
            }
            .place-time{
                display: flex;
                padding: 10px;
                justify-content: space-around;
            }

            .in-game{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .playing-team{
                display: flex;
                padding: 10px;
                align-items: center;
            }
            .playing-team div{
                margin-left:5px;
                margin-right:5px;
            }

            @media (max-width: 767px) { 
                .info-box{
                    display: block;
                }
                .line{
                    display: none;
                };
                .table-box{
                    width: 90%
                }
                .games{
                    width: 90%;
                }
                .list-headers{
                    overflow-x: auto;
                }
                .shield{
                    display: none;
                }
                .barra-buscar form{
                    width: 20px;
                    height: 20px;    
                    background-color: unset;                
                }

                .barra-buscar input{
                    display: none;
                }
                .divider{
                    display: none;
                }
                .container-right{
                    display: none;
                }
                .menu-nav div{
                    display: none;
                }
                .table-box{
                    width: 90%;
                }

             }